extends layout

block content
  #sidebar This is a sidebar
  #main
    h1 Comfort Games
    #header Share your favorite comfort games or find something new to try!
    #newPost
      form(action='/add' method='POST')
        div
          label(for='blog') What is your blog txt?
          input#blog(name='blog' value='Hi this is my blog text!')
        div
        button Send my blog
    #posts 
      ul
        each txt in data
          ul.single_post=txt.blog_txt
