extends layout

block content
  #sidebar This is a sidebar
  #main
    h1 Comfort Games
    #header Share your favorite comfort games or find something new to try!
    #newPost
      form(action='/add' method='POST')
        div
          label(for='blog')
          input#title(name='title' type='text' placeholder='Name your post!')

          label(for='blog')
          textarea#blog(name='blog' rows='1' cols='50' placeholder='Type here...')
          
          div#post
            p Optional: Include a photo
            label(for='pic')
            input#pic(type='file' name='pic')

            button Post!
          div 

        div
    #posts 
      div#sort
        p Sort by: 
        select(name='Sort by:')
          option(value='newest') Newest
          option(value='oldest') Oldest
      div
      ul
        each txt in data.reverse()
          ul.single_post
            div.post_title #{txt.blog_title}
            div.post_text #{txt.blog_txt}
            div.post_time #{txt.blog_time}
