* {
  padding: 0px;
  margin: 0px;
}

p {
  display: inline;
  padding-right: 20px;
}

input, textarea, div {
  color:rgb(158, 17, 95);
  padding: 2px;
}

html, body {
  background-color: pink;
  /* padding: 50px; */
  font: 14px "Lucida Handwriting", cursive;
  height: 100%
}

a {
  color: #00B7FF;
}

div#sidebar {
  vertical-align:top;
  display: inline-block;
  align-self: left;
  text-align: center;
  position: fixed;
  border-right: 5px solid rgb(246, 67, 126);
  padding-right: 5px;
  background-color: #ffcffd;
  margin-right: 10px;
  min-width: 15%;
  height: 100%;
}

#main {
  vertical-align:top;
  position:relative;
  display: inline-block;
  align-self: right;
  text-align: center;
  width: 75%;
  margin-left: 18%;
  min-height: 100%;
}

h1 {
  align-self: left;
  text-align: left;
  display: block;
  padding: 20px 0px 0px 60px;
  font-size: 36pt;
  font-weight: 1000;
  color: rgb(227, 252, 153);
  text-shadow: 2px 4px #ff289a;
}

#header {
  align-self: left;
  text-align: left;
  display: block;
  padding: 0px 0px 30px 60px;
  font-size: 16pt;
  font-weight: 500;
  color: rgb(248, 255, 228);
  text-shadow: 1px 2px #ff72bd;

}

.single_post {
  color:rgb(158, 17, 95);
  display: block;
  align-self: center;
  text-align: center;
  border: 5px solid  rgb(246, 67, 126);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: #ffe8f3;
}

.post_title {
  display: block;
  align-self: left;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 16pt;
  font-weight: 750;
  color: #ff289a;
  text-shadow: 2px 4px rgb(245, 255, 58);
}

.post_text {
  text-align: left;
  padding: 5px 0px 5px 20px;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post_time {
  display: block;
  align-self: right;
  text-align: right;
  font-weight: light;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 12pt;
  font-family:'Courier New', Courier, monospace
}

#post {
  align-self: right;
  text-align: right;
}
#sort {
  display: block;
  align-self: right;
  text-align: right;
  padding-right: 20px;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#newPost {
  display: block;
  align-self: center;
  text-align: center;
  border: 5px solid  rgb(246, 67, 126);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: #ffcffd;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input#title{
  display: block;
  align-self: left;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea#blog{
  display: inline-block;
  align-self: left;
  text-align: left;
  border: 3px solid  rgb(254, 98, 150);
  border-radius: 5px;
  width: 80%;
  min-height: 50px;
  margin: 5px;
  font-size: 14pt;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button, select {
  display: inline-block;
  color: #fff1f8;
  background-color: #ff72bd;
  border: 3px solid #ff289a;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}